<a href="https://colab.research.google.com/github/MrSantoshkumar/PYTHON-IITM/blob/main/Mock_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q.1  Accept two strings as input and form a new string by removing all characters from the second string which are present in the first string. Print this new string as output. You can assume that all input strings will be in lower case.

Q.2   Accept a string as input and print PALINDROME if it is a palindrome, and NOT PALINDROME otherwise.

Q.3  Two integers are co-prime if the only common divisor between the two integers is one.

Accept two positive integers as input in two different lines. Print Coprime if the two integers are co-prime, else print Not Coprime. Assume that both the integers are greater than two.

Q.4    Accept a string as input, print Integer if the string is an integer, print Float if it a float, else print None.

Q.5   Multiple Select Questions (MSQ) could have more than one correct answers. The marks scored by a student in a MSQ will be determined by the following conditions:

(1) If the question has

c correct options, each individual correct option carries


c
n
​
  marks.

(2) If a student selects any of the wrong options, the marks awarded for the question will be 0.

Calculate the marks obtained by the student and print this as float value.

The input contains four lines.

(1) First line is the number of marks for the question.

(2) Second line contains the number of options for the question.

(3) Third line is a comma-separated sequence of correct options for this question.

(4) Fourth line is a comma-separated sequence of options given by the student.

Write a program to print the number of marks scored by a student.

Note: Options are numbered using positive integers in the range
[
1
,
9
]
[1,9], endpoints inclusive. A question will have at most nine options. The number of marks and the correct options will always be integers.

Q.6   Consider two non-empty strings a and b of lengths

1
n
1
​
  and

2
n
2
​
  respectively, which contain only numbers as their characters. Both the strings are in ascending order, that is

[

]
≤

[

]
a[i]≤a[j] for
0
≤

<

<

1
0≤i<j<n
1
​
 . The same holds true for b. You need to merge both the strings into one string of length

1
+

2
n
1
​
 +n
2
​
  such that all the characters of this combined string are also in ascending order.

Accept a and b as input and print this merged string as output.