<a href="https://colab.research.google.com/github/MrSantoshkumar/PYTHON-IITM/blob/main/Week%204-notes%2CTuesday_TA_Session3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>































#Loop Controlers

Break Keyword:

In [ ]:
'''break - whenever program encounters the break statement it terminates the loop.'''

#eg.

for i in range(10):
  if i == 7:
    break
  print(i)

0
1
2
3
4
5
6

In [ ]:
#eg. to check whether a charecter is present in the string/list/any_iterable_object or not. (without using the inbuilt 'in' operator)

l = [10, 2, 3, 4, 5, 6, 6, 50, 3, 4 ,5, 4]
a = 50

found = False

for i in range(len(l)):
  if l[i] == a:
    found = True
    break


print(found)

True

In [ ]:
l = [10, 2, 3, 4, 5, 6, 6, 50, 3, 4 ,5, 4]

for i in l:
  print(i)

10
2
3
4
5
6
6
50
3
4
5
4

In [ ]:
l = [10, 2, 3, 4, 5, 6, 6, 50, 3, 4 ,5, 4]

for i in range(len(l)):
  print(l[i])

0
1
2
3
4
5
6
7
8
9
10
11

Continue Keyword:

In [ ]:
'''continue - whenever our programs encounters the continue statement, the code following the continue statement (if any) is skipped
              and the next iteration is forced'''

#eg.

for i in range(10):
  if i == 7:
    continue
  print(i)

0
1
2
3
4
5
6
8
9

In [ ]:
#eg. Iterate though a list of variables, print each element on seperate line but skip if the element is of 'int' data type.

l = ['apple', '5', 4, 4.0, 'cloud', -10, [4]]

for i in l:
  if type(i) is int:
    continue
  print(i)

apple
5
4.0
cloud
[4]

In [ ]:
l = ['apple', '5', 4, 4.0, 'cloud', -10, [4]]

for i in l:
  if isinstance(i, int):
    continue
  print(i)

apple
5
4.0
cloud
[4]

for-else

In [ ]:
#for-else - if the 'for' loop never breaks then else block is executed.

for i in range(10):
  if i == 7:
    break
  print(i)
else:
  print('The loop never broke')

0
1
2
3
4
5
6
8
9
The loop never broke

In [ ]:
l = [10, 2, 3, 4, 5, 6, 6, 50, 3, 4 ,5, 4]
a = -1

for i in range(len(l)):
  if l[i] == a:
    print(True)
    break
else:
  print(False)

False

Check whether a positive integer is a prime or not.

In [ ]:
#using basic approach: maintaining a 'flag' variable.

n = int(input())
prime = True

for i in range(2, n):
  if n%i == 0:
    prime = False
    break

print(prime)

2
True

In [ ]:
#using for-else: no need to maintain a 'flag' variable in that case.

n = int(input())

for i in range(2, n):
  if n%i == 0:
    print(False)
    break
else:
  print(True)

2
True

#Collections in Python

In Python, collections are datatypes or containers which can store multiple values or items, allowing for efficient data management and manipulation.

- In Python, we have 4 built-in collection types.
 - Lists
 - Tuples
 - Sets
 - Dictionaries

##1.Lists and List Methods:

In [ ]:
#Lists: data structures that is used to store the sequence of objects.

l = [1, 3.0, 'anand'] #can store multiple data types as elements in list.

print(l)                  #printing a list
print(type(l))                 #printing datatype of list

[1, 3.0, 'anand']
<class 'list'>

In [ ]:
print(isinstance('anand', int))

False

In [ ]:
#using 'isinstance' => parameters: (object 'or' var_name, datatype)  returns True if object or var_name'] belongs to given 'datatype' else False.

print(isinstance([1, 'hello', True], list))                    #check whether [1, 'hello', True] is list or not.
print(isinstance('student', str))                     #check whether 'student' is a string or not.
print(isinstance('5', int))                   #check whether '5' is an integer datatype or not.

True
True
False

In [ ]:
#using 'is type' istead of 'isinstance'.

print(type([1, 'hello', True]) is list)                    #check whether [1, 'hello', True] is list or not.
print(type('student') is str)                    #check whether 'student' is a string or not.
print(type('5') is int)                   #check whether '5' is an integer datatype or not.

True
True
False

In [ ]:
#intialising a list

list1 = []
list2 = list()

print(list1, list2)

[] []

In [ ]:
#populating/growing a list

l = []

l = l + [5]
l = l+[4]
l = [10] + l             #by CONCATENATING another LIST in prefix or suffix.
print(l)


l.append(10)
l.append('anand')            #append -> adds element to the end of the list.
print(l)


l.insert(2, 'khushi')
l.insert(3, 89)           #insert -> insert element to a GIVEN INDEX. parameters: (index, element)
print(l)


s = 'apple'
l.extend(s)
l.extend([5, 7, 8])            #extend -> adds elements of an ITERABLE (string, list, tuple, etc.) to the end of the list.
print(l)

[10, 5, 4]
[10, 5, 4, 10, 'anand']
[10, 5, 'khushi', 89, 4, 10, 'anand']
[10, 5, 'khushi', 89, 4, 10, 'anand', 'a', 'p', 'p', 'l', 'e', 5, 7, 8]

In [ ]:
#slicing a list: Similar to slicing a string.

l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
#print a list of elements at even indexes of list l.
l = l[::2]
print(l)

[1, 3, 5, 7, 9]

In [ ]:
#deletion or removal of elements from a list.

l = [1, 'subhash', 10, 40, 60, 10]

l.remove('subhash')
l.remove(10)            #remove -> removes the first occurence of the element from the list. (throws error if element not present)
print(l)

l = [1, 'subhash', 10, 40, 60, 10]

del l[3]           #del -> deletes the element using its index. (syntax: del l[index])
print(l)

l = [1, 'subhash', 10, 40, 60, 10]
l.pop(2)            #pop -> deletes the element from the given index. (syntax: l.pop(index)) (if index is not specified then default value is index = -1)
print(l)

l = [1, 'subhash', 10, 40, 60, 10]
l.clear()           #clear -> removes all the elements from the list.
print(l)

[1, 40, 60, 10]
[1, 'subhash', 10, 60, 10]
[1, 'subhash', 40, 60, 10]
[]

In [ ]:
#more on pop

l = [1, 'subhash', 10, 40, 60, 10]      #pop removes the element from given index and returns the value of element that it removed.

s = l.pop(1)              #pop the second element of the list and store it in variable 's'.
#default value of parameter of pop method is -1.
print('list is:', l)
print('The popped value got stored in \'s\' and is equal to', s)

list is: [1, 10, 40, 60, 10]
The popped value got stored in 's' and is equal to subhash

In [ ]:
#more on del : deleting multiple elemets at a time

l = [23, 234, 53, 35, 23, 76, 87, 98, 12, 11]

print(l[3:10:2])
del l[3:10:2]          #delete elements at index: 3, 5, 7 and 9
print(l)

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

del l[1::2]          #delete elements at odd indexes.
print(l)

[35, 76, 98, 11]
[23, 234, 53, 23, 87, 12]
[1, 3, 5, 7, 9]

In [ ]:
#few more important list methods.

l = [1, 8, 7, 8, 3, 5, 8, -4, 3, 2]

print(len(l))               #print length of list.

a = sum(l)
print(a)   #print sum of elements of list.

mini = min(l)
print(mini) #print minimum element of list.

maxi = max(l)
print(maxi)    #print maximum element of list.

print(l.count(8))    #count the occurence of 8 in list l.

print(l.index(3))  #find the index of FIRST OCCURENCE of 3 in l. (throws error if the element is not present in the list)

print(11 in l) #check whether 11 is present in list or not.

10
41
-4
8
3
4
False

Replicating a list

In [ ]:
a = 'apple'
print(a*5)    #replicating a string

appleappleappleappleapple

In [ ]:
l = [5, 10]

replicated_list = l*3  #replicate list 3 times
print(replicated_list)

[5, 10, 5, 10, 5, 10]

In [ ]:
l = [5, 10]
for i in range(3):    #this is not replicating
  print(l)

[5, 10]
[5, 10]
[5, 10]

List Comparisions

In [ ]:
#similar to string comparisions

print([1, 2, 3] == [1, 2, 3])
print([1, 3, 2] == [1, 2, 3])

True
False

In [ ]:
print([4, 21] < [1, 33])

False

In [ ]:
print(['apple', 'cat', 'dog'] < ['apple', 'cat'])

False

Modifying elements in a list:

In [ ]:
l = [1, 2, 'anand', 4, 5, 6]
#instead of 'anand' at index = 2, if wish to modify it as 3.

l[2] = 3
print(l)

[1, 2, 3, 4, 5, 6]

In [ ]:
l = [0, 1, 1, 0, 0, 0, 1] #list of 0s and 1s
'''modify such that 1 becomes 0 and 0 becomes 1'''

for i in range(len(l)):
  if l[i] == 0:
    l[i] = 1
  elif l[i] == 1:
    l[i] = 0

print(l)

[1, 0, 0, 1, 1, 1, 0]

In [ ]:
s = 'apple'
s[0] = 'b'
print(s)

TypeError: 'str' object does not support item assignment

Mutability

In [ ]:
#Lists are mutable in nature, means they can be updated in place.
#The above examples that we saw of updating/modifying elements in-place is possible cuz of mutable nature of lists.

#Strings are non-mutable, means they can't be updated in place.

In [ ]:
'''Guess the output of the following piece of code.'''

list1 = [1, 2, 3]
list2 = list1
list1[0] = 100
print(list1, list2) #It seems like the output should be [100, 2, 3], [1, 2, 3]

[100, 2, 3] [100, 2, 3]

In [ ]:
#using 'is' to check that whether list1 and list2 are same objects or not.

list1 = [1, 2, 3]
list2 = list1
list1[0] = 100

print(list1 is list2)     #True if both are same objects.

True

In [ ]:
'''Here one should understand that there is a difference between being equal and being same'''

list1 = [1, 2, 3]
list2 = list1
list3 = [1, 2, 3]

list1[0] = 100
print(list1, list2, list3)
#here list2 and list1 are referring to same objects.

#list1 and list3 are EQUAL but are different objects.
print(list1 == list3)
print(list1 is list3)

[100, 2, 3] [100, 2, 3] [1, 2, 3]
False
False

In [ ]:
#making any change in list1 will not affect list3

list1 = [1, 2, 3]
list2 = list1
list3 = [1, 2, 3]

print(id(list1), id(list2), id(list3))

print(list1, list2, list3)

134997627510464 134997627510464 134997627515520
[1, 2, 3] [1, 2, 3] [1, 2, 3]

ID of an object.

In [ ]:
#In python every object has a unique ID associated with it. (ID is object's memory address)

#No two objects have same id.

list1 = [1, 2, 3]
list2 = list1
list3 = [1, 2, 3]

print(id(list1), id(list2)) #both are having same id as they both are referring to the same object.

134997627509696 134997627509696

Alias - alternate variable names referring towards the same object (i.e. having the same id). It is like giving different nicknames to the same object.

![image.png]()

Thus making any change in list1 will get reflected in list2 as well.

In [ ]:
s1 = 'apple'
s2 = s1

s1 = 'ball'

print(s1, s2)
print(id(s1), id(s2))

s3 = 'apple'
print(id(s3))

ball apple
134997626134896 134997627732976
134997627732976

In [ ]:
#making Copy of a list.

l = [1, 2, 3]

#ways to copy a list.
copy_list1 = list(l)
copy_list2 = l.copy()
copy_list3 = l[:]

#copied list is equal to original list but is a different object.
print(copy_list1 == l)
print(copy_list1 is l)

l[0] = 100 #modifyin original list will not make any changes in copied lists.
print(l)
print(copy_list1, copy_list2, copy_list3)

True
False
[100, 2, 3]
[1, 2, 3] [1, 2, 3] [1, 2, 3]

In [ ]:
list1 = [[1, 2, 3], 4, 5]
copy_list1 = list(list1)

list1[0][0] = 100

print(list1)
print(copy_list1)                #what would be the output in that case?
print(copy_list1[0] is list1[0])
print(list1 == copy_list1)

[[100, 2, 3], 4, 5]
[[100, 2, 3], 4, 5]
True
True

In [ ]:
list1 = [[1, 2, 3], 4, 5]
copy_list1 = list(list1)

list1[2] = 6
print(list1, copy_list1)

[[1, 2, 3], 4, 6] [[1, 2, 3], 4, 5]

Shallow Copy and Deep  Copy

In [ ]:

'''In the previous example there was a list inside a list (mutable object inside a mutable object)
so copy() just did the Shallow Copy => means only new-outer-list object is created
but the inner list was same.'''

#Thus on changing the inner list of list1, the inner list of copy_list1 would also change.

print(copy_list1 is list1)
print(list1 == copy_list1)
print(list1[0])
print(list1[0] is copy_list1[0])
print(list1[0] == copy_list1[0])

In [ ]:
#In such cases we can make a deepcopy

from copy import deepcopy

list1 = [[1, 2, 3], 4, 5]
copy_list1 = deepcopy(list1)

list1[0][0] = 100

print(list1)
print(copy_list1)
print(list1[0] is copy_list1)

[[100, 2, 3], 4, 5]
[[1, 2, 3], 4, 5]
False

Sorting a list (ascending order) : sort vs sorted

*In Python the sorting is possible both alphabetically and numerically by 'sort' method.*

In [ ]:
#sort => modifies the original list by sorting elements but returns None
l = [1, 8, 7, 8, 3, 5, 8, -4, 3, 2]
print(id(l))
l.sort()
print(l)
print(id(l))
print(l.sort()) #do not do this

134997627661312
[-4, 1, 2, 3, 3, 5, 7, 8, 8, 8]
134997627661312
None

In [ ]:
#sorted => returns a new sorted list without modifying the original list.
l = [1, 8, 7, 8, 3, 5, 8, -4, 3, 2]
print(id(l))
a = sorted(l)
print(id(l))
print(a)
print(sorted(l))

134997626054592
134997626054592
[-4, 1, 2, 3, 3, 5, 7, 8, 8, 8]
[-4, 1, 2, 3, 3, 5, 7, 8, 8, 8]

Reverse Sorting a List (descending order)

In [ ]:
l = [1, 8, 7, 8, 3, 5, 8, -4, 3, 2]
#syntax: l.sort(reverse = True/False(default))
l.sort(reverse = True)
print(l)

[8, 8, 8, 7, 5, 3, 3, 2, 1, -4]

In [ ]:
l = [1, 8, 7, 8, 3, 5, 8, -4, 3, 2]
#syntax: sorted(iterable, reverse = True/False(default))

a = sorted(l, reverse = True)
print(a)

[8, 8, 8, 7, 5, 3, 3, 2, 1, -4]

Reversing a list: reverse vs reversed

In [ ]:
#reverse => reverses the original list without creating any new list and returns None.
l = [1, 8, 7, 8, 3, 5, 8, -4, 3, 2]

l.reverse()
print(l)

[2, 3, -4, 8, 5, 3, 8, 7, 8, 1]

In [ ]:
#reversed => returns a object of class list_reverseiterator which is reverse of original list.
l = [1, 8, 7, 8, 3, 5, 8, -4, 3, 2]

a = list(reversed(l))
print(a)
print(list(reversed(l)))

[2, 3, -4, 8, 5, 3, 8, 7, 8, 1]
[2, 3, -4, 8, 5, 3, 8, 7, 8, 1]

List of Strings to Strings: Join Method

In [ ]:
s = 'I@like@apples'
l = s.split('@')
print(l)

['I', 'like', 'apples']

In [ ]:
l = ['I', 'like', 'apples']

s = ' '.join(l)
print(s)

I like apples

In [ ]:
#Using split() we can split the string. The splitted substrings are stored as a seperate element in a list.
#Using join() we can join the elements of a 'list of strings' into a 'single string'.

l = ['apple', 'ball', 'cat', 'dog']
s = '-'.join(l)                #store each element of l: (list of strings) in a single string 's' with a '-' in between.
print(s)               #your output should look like: apple-ball-cat-dog

apple-ball-cat-dog

Initializing a list using range

In [ ]:
l = list(range(1, 6))
print(l)

In [ ]:
#print a list of first 10 even numbers

print(list(range(2, 21, 2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

##1.1 List Comprehensions

syntax: [$f(x)$ for $x$ in *iterable*]
- f(x) is expression in variable x.
- x is a local variable that refers to each value of iterable.
- iterable: any iterable object (string, list, tuple, etc..)

In [ ]:
#given a list of integers, print a new list with elements double the elements of given list.

l = [1, -1, 3, 2, 6]

new_list = [2*x for x in l]

print(new_list)      #the output should be [2, -2, 6, 4, 12]

[2, -2, 6, 4, 12]

In [ ]:
l = [1, -1, 3, 2, 6]

m = []
for i in l:
  m.append(2*i)

print(m)

[2, -2, 6, 4, 12]

Using filter:
- syntax: [$f(x)$ for $x$ in *iterable* if *condition*]

In [ ]:
#list of all the factors of a given number.

n = 24

fact_list = [i for i in range(1, n+1) if n%i == 0]

print(fact_list)       #the ouotput should be [1, 2, 3, 4, 6, 8, 12, 24]

[1, 2, 3, 4, 6, 8, 12, 24]

In [ ]:
n = 24
l = []

for i in range(1, n+1):
  if n%i == 0:
    l.append(i)

print(l)

[1, 2, 3, 4, 6, 8, 12, 24]

In [ ]:
l = [15, 24, 32, 41, 56, 96, 7]

m = []

for i in l:
  if i % 2 == 0:
    m.append(i**2)

print(m)

[576, 1024, 3136, 9216]

In [ ]:
l = [15, 24, 32, 41, 56, 96, 7]

print([x**2 for x in l if x%2 == 0])

[576, 1024, 3136, 9216]

- syntax: [$f(x)$ if *condition* else $g(x)$ for x in *iterable*]

In [ ]:
'''
given a list l, create a new_list such that:
if i is even:
  new_list[i] = square of l[i]
and if i is odd:
  new_list[i] = double of l[i]
'''

l = [1, 8, 7, 8, 3, 5, 8, -4, 3, 2]

new_list = [l[i]**2 if i%2 == 0 else 2*l[i] for i in range(len(l))]

print(new_list) #output: [1, 16, 49, 16, 9, 10, 64, -8, 9, 4]

[1, 16, 49, 16, 9, 10, 64, -8, 9, 4]

In [ ]:
l = [1, 8, 7, 8, 3, 5, 8, -4, 3, 2]

for i in range(len(l)):
  if i % 2 == 0:
    l[i] = l[i]**2
  else:
    l[i] = 2*l[i]

print(l)

[1, 16, 49, 16, 9, 10, 64, -8, 9, 4]

Multiple for in list comprehension
- syntax: [y for x in range(a) for y in range(b)]
- This corresponds to:
```
  new_list = []
  for x in range(a):
    for y in range(b):
      new_list.append(y)
```

In [ ]:
new_list = [y for x in range(3) for y in range(3)]
print(new_list)

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
new_list = []
for x in range(3):
  for y in range(3):
    new_list.append(y)
print(new_list)

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
for x in range(3):
  for y in range(3):
    print(f'{x}, {y}')

0, 0
0, 1
0, 2
1, 0
1, 1
1, 2
2, 0
2, 1
2, 2

In [ ]:
#create a matrix of order 3*3: [[0, 1, 2], [0, 1, 2], [0, 1, 2]]

#in python a matrix is denoted by a list of lists.

new_list = [[i for i in range(3)] for y in range(3)]

print(new_list)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
l = []

for i in range(3):
  m = []
  for j in range(3):
    m.append(j)
  l.append(m)

print(l)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
m = []
for j in range(3):
  m.append(j)

print(m)

[0, 1, 2]