<a href="https://colab.research.google.com/github/MrSantoshkumar/PYTHON-IITM/blob/main/WEEK_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hellow

In [ ]:
print("My name is santosh kumar .I am learning python",24,1,2024)

My name is santosh kumar .I am learning python 24 1 2024

In [ ]:
print['hellow']

TypeError: 'builtin_function_or_method' object is not subscriptable

In [ ]:
print{Hellow}

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (<ipython-input-10-d3d7cf5cd5d0>, line 1)

In [ ]:
print(10)

10

In [ ]:
a=10
print(a)
b=20
print(b)
print(a+b)
print(a*b)
print(a/b)
print(a//b)

10
20
30
200
0.5
0

In [ ]:
a=10
print(a)
a=a+1
print(a)

10
11

In [ ]:
print('inter a number:')
n=int(input())
print(n)
print(n+1)
print(n+2)

inter a number:
125
125
126
127

In [ ]:
print('Hellow,type in your name:')
n=str(input())
print('hellow',n,'How are you?')

print('Which place you live')
p=str(input())

print('Hellow',n,'how in weather in',p)

Hellow,type in your name:
santosh kumar
hellow santosh kumar How are you?
Which place you live
alwar,rajasthan
Hellow santosh kumar how in weather in alwar,rajasthan

In [ ]:
name=santosh kumar
name= rinku
name= reversed
number =10
number=20
number=40
number=number+1

In [ ]:
r=int(input('Enter radius of circle:'))
area=3.14*r*r
print('area of circle with radius ',r, 'is',area)

Enter radius of circle:15
area of circle with radius  15 is 706.5

 Data type 1

In [ ]:
n=10
print(n)
r=6.5
s='santosh'
print(s)

print('n is type of : ', type(n))
print('r is type of : ', type(r))
print('s is type of: ', type(s))

10
santosh
n is type of :  <class 'int'>
r is type of :  <class 'float'>
s is type of:  <class 'str'>

In [ ]:
from binascii import b2a_qp
l1=[10,20,30,40,50,60,70]
l2={10,20,30,40,50,60,70}
l3=(10,20,30,40,50,60,70)
b1=True
b2=False
print(type(l1))
print(type(l2))
print(type(l3))
print(type(b1))
print(type(b2))

<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'bool'>
<class 'bool'>

In [ ]:
a=int(5.7)
b=int(6)
print(a,type(a))
print(b,type(b))

5 <class 'int'>
6 <class 'int'>

In [ ]:
a=bool(10)
b=bool(0)
c=bool(-10)
d=bool(12)
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

True <class 'bool'>
False <class 'bool'>
True <class 'bool'>
True <class 'bool'>

In [ ]:
a=bool('india')
b=bool('10')
c=bool('0')
d=bool('-10')
e=bool("")

print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))

True <class 'bool'>
True <class 'bool'>
True <class 'bool'>
True <class 'bool'>
False <class 'bool'>

Oprators and **Expressions**

In [ ]:
a=5
b=54
c=a*b
print(c)

270

In [ ]:
a="ram"
b="seeta"
c=a*b
d=a+b

print(c)
print(d)

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
a='ram'
b='seeta'
c=a+b
print(c)

ramseeta

In [ ]:
a=[1,2,3,4,5,6,7]

b=[7,6,5,4,3,2,1]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a=10 + 13*2
b=(10+13)*2
print(a,b)

36 46

# Arithmatic operators (+,-,*,/,//,%,** )

In [ ]:
print("addition",2+4)
print("subtructiion",2-4)
print("multiplication",2*4)
print("divison",7/3)
print("floor divison",7//3)
print("modulo",7%3)
print("exponent",2**4)

addition 6
subtructiion -2
multiplication 8
divison 2.3333333333333335
floor divison 2
modulo 1
exponent 16

# Relational (<,>,<=,>=,==,=!)

In [ ]:
print(5<4)
print(5<4)
print(5<=4)
print(5>=4)
print(5==4)
print(5!=4)

False
False
False
True
False
True

Logical (And,Or,not)

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

String

In [ ]:
a="santosh"
b="Kumar"
print(a[0])
print(a[1])
print(a[0:3])

s
a
san

In [ ]:
a="santosh"
b="kumar"
print(a+b)

santoshkumar

In [ ]:
a="santosh"
b="kumar"
print(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
s="99298622236"
a = s[4]
b = s[7]
print(a)
print(b)
print(a+b)

8
2
82

In [ ]:
s= "9929862236"
a=int(s[4])
b=int(s[7])
print(a)
print(b)
print(a+b)

8
2
10

In [ ]:
s="good"
print(s[0]*5)
print(s*5)

ggggg
goodgoodgoodgoodgood

In [ ]:
x="India"
print(x=="India")
print(x=="india")

True
False

In [ ]:
print("apple">'one')
print("four"<"ten")

False
True

In [ ]:
s="python"
print(s[0])
print(s[1])
print(s[2])
print(s[-1])
print(s[-2])
print(s[-3])


print(len(s))

p
y
t
n
o
h
6

In [ ]:
print(13%5//2*30**5)

24300000

In [ ]:
2**3**0

2