<a href="https://colab.research.google.com/github/MrSantoshkumar/PYTHON-IITM/blob/main/Week11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# L11.1 | Introduction

# L11.2 | Exception handling

In [ ]:
a = int(input())
b = int(input())
try:
   c = a/b
   print(c)
   f = open('abc.txt', 'r')
except ZeroDivisionError:
  print('Invalid input,divisor can not be zero')
except NameError:
  print('Variable not defined')
except FileNotFoundError:
  print('Invalid file name. Please check again')
except:
  print('Something went wrong')

20
4
5.0
Invalid file name. Please check again

In [ ]:
a = int(input())
b = int(input())
try
   f = open('abc.txt', 'r')
   c = a/b
   print(c)
except ZeroDivisionError:
  print('Invalid input,divisor can not be zero')
except FileNotFoundError:
  print('Invalid file name. Please check again')
except:
  print('Something went wrong')

SyntaxError: expected ':' (<ipython-input-12-1a93c4e6ea59>, line 3)

In [ ]:
a = int(input())
b = int(input())
try:
   f = open('abc.txt', 'r')
   c = a/b
   print(c)
except ZeroDivisionError:
  print('Invalid input,divisor can not be zero')
except FileNotFoundError:
  print('Invalid file name. Please check again')
except:
  print('Something went wrong')
finally:
  f.close()
  print('From finally block')

40
5
Invalid file name. Please check again

NameError: name 'f' is not defined

In [ ]:
a = int(input())
if a < 18:
   raise Exception( 'You are underage, can not vote')             # user defined exception

3

Exception: You are underage, can not vote

# L11.3| Functional Programming (Part 1)

In [ ]:
fruits = ['mango','apple','banana','orange','pineapple','watermelon','guava','kiwi']
for fruit in fruits:
  print(fruit)

mango
apple
banana
orange
pineapple
watermelon
guava
kiwi

In [ ]:
fruits = ['mango','apple','banana','orange','pineapple','watermelon','guava','kiwi']
for fruit in fruits:

 bascket = iter(fruits)            # bascket is iterator
print((bascket))

<list_iterator object at 0x7ba86d068400>

In [ ]:
fruits = ['mango','apple','banana','orange','pineapple','watermelon','guava','kiwi']

bascket = iter(fruits)            # bascket is iterator
print(next(bascket))
print(next(bascket))
print(next(bascket))
print(next(bascket))
print(next(bascket))

mango
apple
banana
orange
pineapple

In [ ]:
fruits = ['mango','apple','banana','orange','pineapple','watermelon','guava','kiwi']

bascket = iter(fruits)            # bascket is iterator
print(next(bascket))
print(next(bascket))
print(next(bascket))
print(next(bascket))
print(next(bascket))

mango
apple
banana
orange
pineapple

In [ ]:
def square(Limit):                  # this function is called generator
  x = 0
  while x < Limit:
    yield x**2
    yield x*x*x
    x += 1

a = square(5)                         # a is an iterator
print(next(a),next(a))
print(next(a),next(a))
print(next(a),next(a))
print(next(a),next(a))

0 0
1 1
4 8
9 27

# L11.4| Functional Programming (Part 2)

In [ ]:
a = 10
b = 20

'''if a < b:
  small = a
else:
  small = b '''

small = a if a < b else b
print(small)

10

In [ ]:
a = 5
while a>0:
  print(a)
  a -= 1

5
4
3
2
1

In [ ]:
a = 5
while a>0: print(a);a -= 1

5
4
3
2
1

In [ ]:
fruits = ['mango','apple','banana','orange','pineapple','watermelon','guava','kiwi']
for fruit in fruits:

  newList = []
  for fruit in fruits:
    if 'n' in fruit:
      newList.append(fruit)
print(newList)

['mango', 'banana', 'orange', 'pineapple', 'watermelon']

In [ ]:
fruits = ['mango','apple','banana','orange','pineapple','watermelon','guava','kiwi']
for fruit in fruits:

  newList = []
  for fruit in fruits:
    if 'n' in fruit:
      newList.append(fruit.capitalize())
print(newList)

['Mango', 'Banana', 'Orange', 'Pineapple', 'Watermelon']

In [ ]:

newList = [fruit.capitalize() for fruit in fruits  if 'n' in fruit]
print(newList)

['Mango', 'Banana', 'Orange', 'Pineapple', 'Watermelon']

# L11.5| Functional Programming (Part 3)

In [ ]:
def add(x,y):
  return x+y

def sub(x,y):
  return x-y

def mul(x,y):
  return x*y

def div(x,y):
  return x/y

print(add(10,20))
print(sub(10,20))
print(mul(10,20))
print(div(10,20))

30
-10
200
0.5

# Lambda function

In [ ]:
add = lambda x,y: x+y
sub = lambda x,y: x-y
mul = lambda x,y: x*y
div = lambda x,y: x/y


print(add(10,20))
print(sub(10,20))
print(mul(10,20))
print(div(10,20))

30
-10
200
0.5

In [ ]:
print(type(add))

<class 'function'>

# Enumerate function

In [ ]:
fruits = ['mango','apple','banana','orange','pineapple','watermelon','guava','kiwi']

for fruit in fruits:
  print(fruit)


for i in range(len(fruits)):
  print(i, fruits[i])

mango
apple
banana
orange
pineapple
watermelon
guava
kiwi
0 mango
1 apple
2 banana
3 orange
4 pineapple
5 watermelon
6 guava
7 kiwi

In [ ]:
fruits = ['mango','apple','banana','orange','pineapple','watermelon','guava','kiwi']

for fruit in enumerate(fruits):
  print(fruit)

(0, 'mango')
(1, 'apple')
(2, 'banana')
(3, 'orange')
(4, 'pineapple')
(5, 'watermelon')
(6, 'guava')
(7, 'kiwi')

In [ ]:
fruits = ['mango','apple','banana','orange','pineapple','watermelon','guava','kiwi']

size = [5,5,6,6,9,10,5,4]

print(zip(fruit,size))

<zip object at 0x7e686a21ef40>

In [ ]:
fruits = ['mango','apple','banana','orange','pineapple','watermelon','guava','kiwi']

size = [5,5,6,6,9,10,5,4]

print(list(zip(fruits,size)))

[('mango', 5), ('apple', 5), ('banana', 6), ('orange', 6), ('pineapple', 9), ('watermelon', 10), ('guava', 5), ('kiwi', 4)]

In [ ]:
fruits = ['mango','apple','banana','orange','pineapple','watermelon','guava','kiwi']

size = [5,5,6,6,9,10,5,4]

print(dict(zip(fruits,size)))

{'mango': 5, 'apple': 5, 'banana': 6, 'orange': 6, 'pineapple': 9, 'watermelon': 10, 'guava': 5, 'kiwi': 4}

# Map function

In [ ]:
a = [10,20,30,40,50,60]
b = [5,10,15,20,25,30]
c = a-b
print(c)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [ ]:
a = [10,20,30,40,50,60]
b = [5,10,15,20,25,30]
c = a[0]-b[0]
print(c)

5

In [ ]:
a = [10,20,30,40,50,60]
b = [5,10,15,20,25,30]

def sub(x,y):
  return x-y

c = map(sub,a,b)
print(c)

<map object at 0x7e68375e8c70>

In [ ]:
a = [10,20,30,40,50,60]
b = [5,10,15,20,25,30]

def sub(x,y):
  return x-y

c = map(sub,a,b)
print(list(c))

[5, 10, 15, 20, 25, 30]

In [ ]:
a = [10,20,30,40,50,60]
b = [5,10,15,20,25,30]
#c = a + 1

def sub(x,y):
  return x-y
def incr(x):
  return x+1

c = map(sub,a,b)
c = map(incr, a)
print(list(c))

[11, 21, 31, 41, 51, 61]

In [ ]:
import math

a = [25,-16,9,81,-100]

def square_root(n):
  return math.sqrt(n)

c = map(square_root,a)
print(list(c))

ValueError: math domain error

# filter function

In [ ]:
import math

a = [25,-16,9,81,-100]

def square_root(n):
  return math.sqrt(n)

def is_positive(n):
   if  n>= 0:
     return n

c = map(square_root,filter(is_positive,a))
print(list(c))

[5.0, 3.0, 9.0]