<a href="https://colab.research.google.com/github/MrSantoshkumar/PYTHON-IITM/blob/main/Week_5_%7C_Session_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
b=200
x = 0
while True:
    if x < 10:
        x = int(input())
        continue
    elif b < x < b + 2:
        break

KeyboardInterrupt:

In [ ]:
L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

S = 0
while len(L) >= 2:
    S += L[0] + L[-1]
    L = L[1:]
    L = L[:-1]
print(S)

55

In [ ]:
colsum = [ ]
m = len(L)
row, col = 0, 0
while col < m:
    row = 0
    colsum.append(0)
    while row < m:
        colsum[col] += L[row][col]
        row += 1
    col += 1

In [ ]:
colsum = [ ]
m = len(L)
for j in range(m):
    val = 0
    for i in range(m):
        val = val + L[i][j]
    colsum.append(val)

In [ ]:
list=[1.3,5,9,22,55]
max(list)

55

In [ ]:
min(list)

1.3

In [ ]:
len(list)

5

In [ ]:
sum(list)

92.3

In [ ]:
sub(list)

NameError: name 'sub' is not defined

In [ ]:
list=[1.3,5,9,22,55]
sorted(list)

[1.3, 5, 9, 22, 55]

In [ ]:
list=[1.3,5,9,22,55]
reversed(list)

In [ ]:
list=[1.3,5,9,22,55]
a=list*3
print(a)

[1.3, 5, 9, 22, 55, 1.3, 5, 9, 22, 55, 1.3, 5, 9, 22, 55]

In [ ]:
l=['I','like','apples']
word = ' '.join(l)
print(word)

I like apples

live session **13_17_2024**

In [ ]:
ran = range(10)
print(ran)

range(0, 10)

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (<ipython-input-74-0c8aafc23d7e>, line 2)

In [ ]:
l1 = list(ran)
print(l1)

TypeError: 'list' object is not callable

In [ ]:
l1=[1,2,4,3,5,6,7,8,9]
ite=iter(l1)
print(next(ite))
print(next(ite))
print(next(ite))

1
2
4

In [ ]:
l1=[1,2,4,3,5,6,7,8,9]
ite=iter(l1)
print(*ite)

1 2 4 3 5 6 7 8 9

In [ ]:
l=[]
for i in range(10):
  l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l=[]
for i in range(10):
  l.append(i)
  print(l)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l2=[('ram','shyam'),('rahul','ran')]
for i,item in enumerate(l2):
  print(i,item)

0 ('ram', 'shyam')
1 ('rahul', 'ran')

In [ ]:
l2 = [1,3,4]
l3= [4,5,6]
for ele1,ele2 in zip(l2,l3):
  print(ele1,ele2)

1 4
3 5
4 6

In [ ]:
s1 = {1,3,4,5}
for i,ele in enumerate(s1):
  print(i,ele)

0 1
1 3
2 4
3 5

In [ ]:
s1 = {3:10,5:20}
for i,ele in enumerate(s1):
  print(i,ele)

0 3
1 5

In [ ]:
s1 = {3:10,5:20}
for i,ele in enumerate(s1,1):
  print(i,ele)

1 3
2 5

In [ ]:
s1 = {3:10,5:20}
for i,ele in enumerate(s1,4):
  print(i,ele)

4 3
5 5

In [ ]:
s1 = {3:10,5:20}
for i,ele in enumerate(s1.item(),4):
  print(i,ele)

AttributeError: 'dict' object has no attribute 'item'

In [ ]:
s1 = {3:10,5:20}
for i,ele in enumerate(s1.items(),4):
  print(i,ele)

4 (3, 10)
5 (5, 20)

In [ ]:
s1 = {3:10,5:20}
for i,ele in enumerate(s1.items(),4):
  print(i,ele[0],ele[1])

4 3 10
5 5 20

In [ ]:
s1 = {3:10,5:20}
for i,ele in enumerate(s1.keys(),4):
  print(i,ele)

4 3
5 5

In [ ]:
s1 = {3:10,5:20}
for i,ele in enumerate(s1.values(),4):
  print(i,ele)

4 10
5 20

In [ ]:
def my_fun(a):
  return a

ans = [lambda x:x**2 for x in range(10)]
print(*ans)

<function <listcomp>.<lambda> at 0x7cce92c41ea0> <function <listcomp>.<lambda> at 0x7cce92c41900> <function <listcomp>.<lambda> at 0x7cce92c41090> <function <listcomp>.<lambda> at 0x7cce92c43520> <function <listcomp>.<lambda> at 0x7cce92c41360> <function <listcomp>.<lambda> at 0x7cce92c435b0> <function <listcomp>.<lambda> at 0x7cce92c416c0> <function <listcomp>.<lambda> at 0x7cce92c42680> <function <listcomp>.<lambda> at 0x7cce92c43ac0> <function <listcomp>.<lambda> at 0x7cce92c42dd0>

In [ ]:
l_fun = lambda x:x**2
for i in range(10):
  print(l_fun(i))

0
1
4
9
16
25
36
49
64
81

map

In [ ]:
def my_map(a):
  ans = a + 10
  return ans

l= [1,2,5,3]

for el in l:
    print(my_map(el))

11
12
15
13

In [ ]:
def my_map(a):
  ans = a + 10
  return ans

l= [1,2,5,3]
l2=map(my_map,l)
print(l2)

<map object at 0x7cce92bbd900>

In [ ]:
def my_map(a):
  ans = a + 10
  return ans

l= [1,2,5,3]
l2=map(my_map,l)
print(*l2)

11 12 15 13

In [ ]:
def my_map(a):
  ans = a + 10
  return ans

l= [1,2,5,3]


l2 = list(map(my_map,l))
print(l2)

l2 = map(my_map,l)
print(l2)

TypeError: 'list' object is not callable

In [ ]:
l2 = [11,13,14,15]
def odd_even(num):
  if num%2 == 0:
      return True
  else:
      False


l3 = list(filter(odd_even, l2))
print(l3)

TypeError: 'list' object is not callable

In [16]:
def create_word(ch,n):
    res = ""
    for i in range(n):
     res+= ch
    return res
def decode_rle(chars:str, repeats:list)->str:
    '''
    Create a string with i-th char from chars repeated i-th value of repeats number of times.

    Note rle refers to Run-length encoding
    '''
    temp_res = map(create_word,chars,repeats)
    ans=""
    ans="".join(temp_res)
    return ans

In [15]:
print(decode_rle("abcd",[2,4,3,1]))

aa bbbb ccc d
None

In [17]:
def decode_rle(chars:str, repeats:list)->str:
 temp_res = map(create_word,chars,repeats)
 print(*temp_res)

In [23]:
def my_map(a):
  ans = a + 10
  return ans

l= [1,3,4,5]
l2=list(map(my_map,l))
print(l2)

[11, 13, 14, 15]

In [24]:
print(*l2)

11 13 14 15